<p>
  Si se quiere emplear el proceso TDD (Test Driven Development) en la empresa,
  seleccione la opción que mejor represente el flujo de trabajo de los métodos
  TDD.
</p>
<ol type="a">
  <li>
    Requisitos → Arquitectura de software → Desarrollo de software → Pruebas
    funcionales → Soporte
  </li>
  <li>
    Requisitos → Arquitectura de software → Requisitos de hardware → Aprobación
    del área administrativa → Desarrollo de software → Soporte
  </li>
  <li>
    Requisitos → Arquitectura de software → Pruebas unitarias → Desarrollo de
    software → Revisión de código → Pruebas funcionales → Soporte
  </li>
  <li>
    d. Requisitos → Soporte → Arquitectura de hardware → Desarrollo de software
  </li>
</ol>
<p><b>Re: </b>c</p>
<hr />
<p>¿Qué tipo de lenguaje es Ruby, y en qué se diferencia con Java?</p>
<br />
<p>
  <b>Re: </b>
  Ruby es un lenguaje interpretado, lo que quiere decir que no existe un
  compilador sino que el código se va ejecutando línea por linea Java por su
  parte, es un lenguaje particular porque es compilado, pero es compilado a un
  lenguaje intermedio llamado bytecode, que después es interpretado. Además Ruby
  es de tipado dinámico, en cambio Java es fuertemente tipado (Contesto con lo
  que he visto en Internet, nunca he programado en Ruby)
</p>
<hr />
<p>¿Qué son los microservicios?</p>
<br />
<p>
  <b>Re: </b>Los microservicios son o mejor dicho es un tipo de arquitectura que
  se utiliza cuando una aplicación se va haciendo robusta y difícil de mantener
  y consiste en dividir una aplicación del backend en pequeñas partes o
  servicios que se comunican por separado y cada uno puede ir evolucionando
  independientemente de los otros y sin interrumpirsen, además cabe agregar que
  se pueden usar diferentes lenguajes de programación y bases de datos, a ver
  que dicho de forma simple es partir un problema grande en varios pequeños y
  solucionarlos
</p>
<hr />
<p>Por qué serían beneficiosos los microservicios para una organización?</p>
<br />
<p>
  <b>Re: </b>La arquitectura de microservicios sería beneficiosa para una
  organización porque le permitiría tener diferentes soluciones de software para
  atacar un mismo problema del lado del backend permitiéndole a las aplicaciones
  realizar tareas mucho más robustas y complejas dado que están divididas en
  partes más pequeñas permitiendo así una gran escalabilidad
</p>
<hr />
<p>¿Por qué no serían beneficiosos los microservicios para una organización?</p>
<br />
<p>
  <b>Re: </b>La necesidad de tiempo para poder fragmentar distintos
  microservicios pudiendo convertir aplicaciones simples en soluciones más
  complejas (depende de la situación, para aplicaciones pequeñas es mejor tener
  todo el backend en un mismo lugar), también puede haber complejidad de gestión
  de un si hay un gran número de servicios, es muy indispensable contar
  desarrolladores para la solución de problemas como latencia en la red o
  balanceo de cargas y las pruebas o testeos pueden ser complicados al
  despliegue distribuido
</p>
<hr />
<p>¿Cuál es la diferencia entre SOA y Microservicios?</p>
<br />
<p>
  <b>Re: </b>La diferencia es que SOA está pensado para ser una sola aplicación
  orientada a servicios mientras que la arquitectura de microservicios pretende
  exponer varios servicios para ser usado por una o varias aplicaciones
</p>
<hr />
<p>
  ¿Por qué podría ser más compleja la comunicación por una red en una
  arquitectura por microservicios?
</p>
<br />
<p>
  <b>Re: </b>Los servicios pueden estar alojados en sitios diferentes y debido a
  esto la respuesta del ping puede ser demorado, es decir el problema es el
  tiempo que los paquetes tardan en ir y volver y si se han perdido datos por el
  camino
</p>
<hr />
<p>
  Proponga un método de comunicación para una arquitectura por microservicios.
</p>
<br />
<p>
  <b>Re: </b>Supongamos que tenemos una DB de compras alojada en un servidor SAP
  el cual solo permite comunicación por RFC, la información de los usuarios está
  alojada en MongoDB pues porque el cliente así lo desea, entonces ¿cómo
  solucionamos esto?, Desde el servidor SAP se levanta un programa que expone
  una RFC y esta es consumida por otra aplicación JAVA para exponer la
  información en rest, debido a que se va a consumir desde una aplicación móvil
  híbrida, la información del usuario se recupera desde un servidor Node.js que
  cifra contraseñas y genera tokens de sesión, ya en el cliente la aplicación
  móvil consume el servicio Node.js para obtener la información del usuario y
  teniendo esta hace petición rest al servidor JAVA para obtener la información
  de sus compras
</p>
<hr />
<p>¿Qué es y cómo funciona Docker?</p>
<br />
<p>
  Docker es una herramienta que garantiza que las aplicaciones funcionen igual
  en todos los sitios en donde sean desplegadas, resolviendo los problemas
  típicos de la construcción, de la distribución o de la ejecución del código,
  haciendo una analogía son como un buque porta contenedores estándar, en donde
  se pueden enviar piezas de software que después pueden ser unidas en otro
  sitio tal como si el buque viajase de Inglaterra a EEUU (Docker <b>NO</b> es
  una máquina virtual) no es grande, no es un sistema operativo completo, sólo
  contiene piezas funcionales de software
</p>
<hr />
<p>¿Qué es y cómo funciona Kubernetes?</p>
<br />
<p>
  <b>Re: </b>Kubernetes es un orquestador de contenedores este busca minimizar
  los errores de los procesos manuales, con esto se pueden crear servidores de
  aplicaciones que pueden estar compuestos de varios contenedores que pueden
  estar o no en el mismo host, dado el ejemplo anterior Kubernetes vendría a
  cumplir el rol de un puerto que recibe los contenedores y los distribuye en
  sus sitios para su funcionamiento, esto puede hacerse programando un cluster
</p>
