<p>
  Si se quiere emplear el proceso TDD (Test Driven Development) en la empresa,
  seleccione la opción que mejor represente el flujo de trabajo de los métodos
  TDD.
</p>
<ol type="a">
  <li>
    Requisitos → Arquitectura de software → Desarrollo de software → Pruebas
    funcionales → Soporte
  </li>
  <li>
    Requisitos → Arquitectura de software → Requisitos de hardware → Aprobación
    del área administrativa → Desarrollo de software → Soporte
  </li>
  <li>
    Requisitos → Arquitectura de software → Pruebas unitarias → Desarrollo de
    software → Revisión de código → Pruebas funcionales → Soporte
  </li>
  <li>
    d. Requisitos → Soporte → Arquitectura de hardware → Desarrollo de software
  </li>
</ol>
<p><b>Re: </b>c</p>
<hr />
<p>¿Qué tipo de lenguaje es Ruby, y en qué se diferencia con Java?</p>
<br />
<p>
  <b>Re: </b>
  Ruby es un lenguaje interpretado, lo que quiere decir que no existe un
  compilador sino que el código se va ejecutando línea por linea Java por su
  parte, es un lenguaje particular porque es compilado, pero es compilado a un
  lenguaje intermedio llamado bytecode, que después es interpretado. Además Ruby
  es de tipado dinámico, en cambio Java es fuertemente tipado (Contesto con lo
  que he visto en Internet, nunca he programado en Ruby)
</p>
<hr />
<p>¿Qué son los microservicios?</p>
<br />
<p>
  <b>Re: </b>Los microservicios son o mejor dicho es un tipo de arquitectura que
  se utiliza cuando una aplicación se va haciendo robusta y difícil de mantener
  y consiste en dividir una aplicación del backend en pequeñas partes o
  servicios que se comunican por separado y cada uno puede ir evolucionando
  independientemente de los otros y sin interrumpirsen, además cabe agregar que
  se pueden usar diferentes lenguajes de programación y bases de datos, a ver
  que dicho de forma simple es partir un problema grande en varios pequeños y
  solucionarlos
</p>
<hr />
<p>Por qué serían beneficiosos los microservicios para una organización?</p>
<br />
<p>
  <b>Re: </b>La arquitectura de microservicios sería beneficiosa para una
  organización porque le permitiría tener diferentes soluciones de software para
  atacar un mismo problema del lado del backend permitiéndole a las aplicaciones
  realizar tareas mucho más robustas y complejas dado que están divididas en
  partes más pequeñas permitiendo así una gran escalabilidad
</p>
<hr />
<p>¿Por qué no serían beneficiosos los microservicios para una organización?</p>
<br />
<p>
  <b>Re: </b>La necesidad de tiempo para poder fragmentar distintos
  microservicios pudiendo convertir aplicaciones simples en soluciones más
  complejas (depende de la situación, para aplicaciones pequeñas es mejor tener
  todo el backend en un mismo lugar), también puede haber complejidad de gestión
  de un si hay un gran número de servicios, es muy indispensable contar
  desarrolladores para la solución de problemas como latencia en la red o
  balanceo de cargas y las pruebas o testeos pueden ser complicados al
  despliegue distribuido
</p>
<hr />
<p>¿Cuál es la diferencia entre SOA y Microservicios?</p>