<h1>Find missing number on array</h1>
Array size:
<input [(ngModel)]="length" type="number" placeholder="Counting numbers" />
<br />
<button (click)="generate()">Submit</button>
<br />
<p *ngIf="number">the missing number is {{ number }}</p>
<ul>
  <li *ngFor="let number of numbers">{{ number }}</li>
</ul>
<p>Code:</p>
<div
  style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"
>
  <table>
    <tbody>
      <tr>
        <td>
          <pre style="margin: 0; line-height: 125%">
 1
    2
    3
    4
    5
    6
    7
    8
    9
   10
   11
   12
   13
   14
   15
   16
   17
   18
   19
   20
   21
   22
   23
   24
   25
   26
   27
   28
   29
   30
   31
   32
   33
   34
   35
   36
   37</pre
          >
        </td>
        <td>
          <pre
            style="margin: 0; line-height: 125%"
          ><span style="color: #008800; font-weight: bold">import</span> &#123; Component &#125; from <span style="background-color: #fff0f0">"@angular/core"</span>;
   
   <span style="color: #FF0000; background-color: #FFAAAA">@</span>Component(&#123;
     selector<span style="color: #333333">:</span> <span style="background-color: #fff0f0">"app-missing-number-on-array"</span>,
     templateUrl<span style="color: #333333">:</span> <span style="background-color: #fff0f0">"./missing-number-on-array.component.html"</span>,
     styleUrls<span style="color: #333333">:</span> [<span style="background-color: #fff0f0">"./missing-number-on-array.component.css"</span>]
   &#125;)
   <span style="color: #008800; font-weight: bold">export</span> <span style="color: #008800; font-weight: bold">class</span> MissingNumberOnArrayComponent &#123;
     <span style="color: #008800; font-weight: bold">private</span> numbers;
     <span style="color: #008800; font-weight: bold">private</span> length;
     <span style="color: #008800; font-weight: bold">private</span> number;
     generate() &#123;
       <span style="color: #008800; font-weight: bold">let</span> tmp,
         current,
         top <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">this</span>.length;
       <span style="color: #008800; font-weight: bold">this</span>.numbers <span style="color: #333333">=</span> [];
       <span style="color: #008800; font-weight: bold">for</span> (<span style="color: #008800; font-weight: bold">let</span> i <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">this</span>.length <span style="color: #333333">-</span> <span style="color: #0000DD; font-weight: bold">1</span>; i <span style="color: #333333">&gt;=</span> <span style="color: #0000DD; font-weight: bold">0</span>; <span style="color: #333333">--</span>i) &#123;
         <span style="color: #008800; font-weight: bold">this</span>.numbers[i] <span style="color: #333333">=</span> i <span style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>;
       &#125;
       <span style="color: #008800; font-weight: bold">if</span> (top)
         <span style="color: #008800; font-weight: bold">while</span> (<span style="color: #333333">--</span>top) &#123;
           current <span style="color: #333333">=</span> <span style="color: #007020">Math</span>.floor(<span style="color: #007020">Math</span>.random() <span style="color: #333333">*</span> (top <span style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>));
           tmp <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">this</span>.numbers[current];
           <span style="color: #008800; font-weight: bold">this</span>.numbers[current] <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">this</span>.numbers[top];
           <span style="color: #008800; font-weight: bold">this</span>.numbers[top] <span style="color: #333333">=</span> tmp;
         &#125;
       <span style="color: #008800; font-weight: bold">this</span>.numbers.splice(<span style="color: #007020">Math</span>.floor(<span style="color: #007020">Math</span>.random() <span style="color: #333333">*</span> <span style="color: #008800; font-weight: bold">this</span>.length), <span style="color: #0000DD; font-weight: bold">1</span>);
       <span style="color: #FF0000;">//Here is where the magic happens</span>
       <span style="color: #008800; font-weight: bold">this</span>.findMissingNumber();
     &#125;
     <span style="color: #FF0000;">//Here is where the magic happens</span>
     findMissingNumber() &#123;
       <span style="color: #008800; font-weight: bold">let</span> no <span style="color: #333333">=</span> (<span style="color: #008800; font-weight: bold">this</span>.length <span style="color: #333333">*</span> (<span style="color: #008800; font-weight: bold">this</span>.length <span style="color: #333333">+</span> <span style="color: #0000DD; font-weight: bold">1</span>)) <span style="color: #333333">/</span> <span style="color: #0000DD; font-weight: bold">2</span>;
       <span style="color: #008800; font-weight: bold">for</span> (<span style="color: #008800; font-weight: bold">let</span> i <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">this</span>.numbers.length <span style="color: #333333">-</span> <span style="color: #0000DD; font-weight: bold">1</span>; i <span style="color: #333333">&gt;=</span> <span style="color: #0000DD; font-weight: bold">0</span>; <span style="color: #333333">--</span>i) &#123;
         no <span style="color: #333333">-=</span> <span style="color: #008800; font-weight: bold">this</span>.numbers[i];
       &#125;
       <span style="color: #008800; font-weight: bold">this</span>.number <span style="color: #333333">=</span> no;
     &#125;
   &#125;
   </pre>
        </td>
      </tr>
    </tbody>
  </table>
</div>
